/* Text */

h1 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #1381B8;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
}

.project-desc ul {
  margin: 30px 0 0 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.project-desc ul li {
  margin: 15px 0 0 0;
}

.footer-text {
  font-size: 14px;
}

.inline-text {
  padding: 80px 0 80px 0;
}



/* Navigation */

#nav_left, #nav_right {
  max-width: 10px;
  font-size: 150%;
  position:fixed;
  color: grey;
}

#nav_left {
  left: 8em;
  top: 7em;
}

#nav_right {
  right: 8em;
  top: 7em;
}

body { padding-top: 80px; }

nav ul li {
  margin-top: 40px;
  letter-spacing: 2px;
  color: #333;
}

.nav-tab {
  margin-left: 30px;
}

.navbar  {
  background-color: rgba(255, 255, 255, 0.9);
  color: white;
  border: none;
  padding-bottom: 20px;
}

/* Sidebar */

@media (min-width: 768px) {
  .project-desc.affix {
    width: 158px;
  }
}

@media (min-width: 992px) {
  .project-desc.affix {
    width: 213px;
    position: fixed;
  }
}

@media (min-width: 1200px) {
  .project-desc.affix {
    width: 263px;
  }
}

/* Footer */

footer {
  margin: 0 0 30px 0;
}

/* Images */

.hero-image-first {
  margin-top: 25px;
  margin-bottom: 30px;
}

.hero-image {
  margin-bottom: 30px;
}
