/* Text */

h1 {
  /*font-family: 'Signika Negative', sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: #E80CDF;
}

h2 {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
}

.project-link {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
  color: #333;
  border: 1px solid #337ab7;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 20px;
}

.label-text {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
  letter-spacing: 2px;
  color: #333;
  margin: 20px auto 10px auto;
}

.tag-heading {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0 auto 20px auto;
  color: #333;
}

.tag-styling {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  line-height: 175%;
  text-align: center;
  border: 1px solid #eee;
  border-radius: 999em;
  display: inline-block;
  position: relative;
  padding: 0 16px;
  box-sizing: border-box;
}

.project-desc ul {
  margin: 30px 0 0 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.project-desc ul li {
  margin: 15px 0 0 0;
}

.footer-text {
  font-size: 14px;
}

.inline-text {
  padding: 40px 0 40px 0;
}



/* Navigation */

body { padding-top: 80px; }

nav ul li {
  margin-top: 40px;
  letter-spacing: 2px;
  color: #333;
}

.nav-tab {
  margin-left: 30px;
}

.navbar  {
  background-color: rgba(255, 255, 255, 0.9);
  color: white;
  border: none;
  padding-bottom: 20px;
}

/* Sidebar */
@media (min-width: 992px) {
  .project-container {
    position: fixed;
  }

  .project-desc {
    width: 213px;
  }
}

@media (min-width: 1200px) {
  .project-desc {
    width: 263px;
  }
}

.sidebar-divider {
  margin: 30px 0 30px 0;
}

/* Category page */

.projects-divider {
  margin: 50px 0 80px 0;
}


/* All Projects page */

.project-grid-spacing {
  margin-top: 20px;
}

/* Footer */

footer {
  margin: 0 0 30px 0;
}

/* Images */

.hero-image-first {
  margin-top: 25px;
  margin-bottom: 30px;
}

.hero-image {
  margin-bottom: 30px;
}
